<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style>
	div { text-align: center; }
</style>
<body>
	<div class="container">
		<h1>Login</h1>
		<form class="form-signin" method="post" th:action="@{/login}">
			<div th:if="${param.error}" class="alert alert-danger">The wrong account or the wrong password.</div>
			<input type="text" name="username" class="form-control" placeholder="Username" required="required" autofocus="autofocus">
			<input type="password" name="password" class="form-control" placeholder="Password" required="required">
			<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
			<a class="btn btn-lg btn-primary btn-block" href="/register">Register</a>
		</form>
	</div>
</body>
</html>