<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.mapper.AdminMapper">
	<resultMap type="app.entity.Admin" id="admin">
		<result column="admin_id" property="id" javaType="Long"/>
		<result column="create_time" property="createTime" javaType="Date"/>
		<result column="update_time" property="updateTime" javaType="Date"/>
		<result column="username" property="username" javaType="String"/>
		<result column="password" property="password" javaType="String"/>
	</resultMap>
	
	<select id="findAll" resultMap="admin">
		select * from t_admin
	</select>
	
	<select id="findById" parameterType="Long" resultMap="admin">
		select * from t_admin where admin_id = #{id}
	</select>
	
	<select id="findByUsernameAndPassword" resultMap="admin">
		select * from t_admin where username = #{username} and password = #{password}
	</select>
	
	<select id="findLikeName" resultMap="admin">
		select * from t_admin where username like #{username} 
	</select>
	
	<insert id="insertAdmin"	useGeneratedKeys="true">
		insert into t_admin(username,password) values(#{username},#{password})
	</insert>
	
	<delete id="deleteById">
		delete from t_admin where admin_id = #{id}
	</delete>
	
</mapper>