<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style>
	div { text-align: center; }
</style>
<body>
	<div class="container">
		<h1>Hello Mybatis.</h1>
		<a href="/userList" class="btn btn-lg btn-primary btn-block">User List</a>
		<a href="/jobList" class="btn btn-lg btn-primary btn-block">Job List</a>
		<a href="/logList" class="btn btn-lg btn-primary btn-block">Log List</a>
	</div>
</body>
</html>