<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style type="text/css">
	.btn-block { margin-bottom: 5px; }
</style>
</head>
<body>
	<div class="container">
		<div class="row justify-content-center">
		    <div class="col-4"><h1 class="text-success" th:text="'Error Page 400'"></h1></div>
	  	</div>
		<div class="row justify-content-center">
			<a class="btn btn-info btn-block" role="button" href="/">Back</a>
	  	</div>
	</div>
</body>
</html>