@charset "utf-8";
/* CSS Document */
/* café5963 CSS設定 */


/* ボディー */
body{
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,sans-serif;
  background-color: #ccc;
  background-image: url(../images/bg_img.png);
  font-size: 16px;
  color: #666;
  margin: 0;
}

/* 画像のボーダー設定 */



/* ヘッダー部分のマージン設定 */
h1{
  margin: 0 0 0 10px;
}


/* リンクカラー設定 */
a:link {
color:#3f312b;
text-decoration:none;
}
a:visited {
color:#3f312b;
}
a:hover {
color:#7c6a62;
}

/* 外枠 */
#wrapper{
  width: 960px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 0px 15px #fff;
}


/* ヘッダー */
#header {
margin:0;
}
#header h1 {
height:20px;
font-size:12px;
color:#3f312b;
}


/* ナビゲーション */
#menu{
  float: left;
  width: 256px;
}
#menu ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#menu li{
  list-style-type: none;
  padding: 10px 10px 10px 6px;
  border-bottom: dotted 1px #000;
  font-size: 14px;
  font-weight: bold;
  margin: 15px 15px 0 0;
}
#menu p{
  padding: 10px;
}
#menu li a{
  display: block;
}

/* コンテンツ */
#contents{
  width: 635px;
  margin-bottom: 20px;
  float: right;
}
.box{
  float: left;
  margin-bottom: 20px;
  width: 635px;
}
.flt-left{
  float: left;
  margin: 0 15px 0 15px;
}
#contents img{
  border-radius: 10px;
}
.box p{
  padding-right:15px;
  padding-left:15px;
  line-height:1.6;
}

#contents h2{
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-top:25px;
  margin-left:15px;
}
#contents p{
  margin-left: 15px;
}
#contents2{
  width: 635px;
  margin-bottom: 20px;
  float: right;
}
#contents2 img{
  border-radius: 10px;
  margin-left: 15px;
}
#contents2 p {
  margin-left: 15px;
  color: #000;
}
#contents2 h2{
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-top:25px;
  margin-left:15px;
}
.tablestyle{
  /*float: left;*/
  margin-left: 15px;
}

/* フッター */
#footer{
  padding-top: 50px;
  width: 100%;
  height: 100px;
  text-align: center;
  border-top: dotted 1px #000;
  clear: both;
}
#footer p{
  font-size: 15px;
}


/* お問い合わせフォーム */
form{
  margin: 20px;
  padding: 10px 20px;
  width: 600px;
}

form ol{
  list-style: none;
  margin: 0;
  padding: 0;
}

form li{
  padding: 5px;
  margin-bottom: 10px;
}

#submit{
  background-color: none;
  margin-top: 5px;
  padding: 10px 20px;
  margin-left: 90px;
  background-color: #3f312b;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
#submit:hover{
  background-color: #7c6a62;
}

form label{
  float: left;
  width: 50px;
  text-align: right;
  margin-right: 40px;
  color: #3f312b;
}

form input,form textarea{
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #494949;
  color: #494949;
}

form input:focus,
form textarea:focus{
  background-color: #d8ccc6;
  border: 1px solid #494949;
}
