<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style>
	div { text-align: center; }
	th { text-align: center; }
</style>
<body>
	<div class="container">
		<table class="table table-striped table-hover table-bordered">
			<tr><th colspan="2">User Information</th></tr>
			<tr>
				<th>Id</th>
				<td th:text="${user.id}"></td>
			</tr>
			<tr>
				<th>UserName</th>
				<td th:text="${user.username}"></td>
			</tr>
			<tr>
				<th>Password</th>
				<td th:text="${user.password}"></td>
			</tr>
			<tr><td colspan="2"><a href="/user/index" class="btn btn-lg btn-primary btn-block">Back</a></td></tr>
		</table>
	</div>
</body>
</html>