<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="sidebar">
  <!-- Brand Logo -->
  <a href="admin" th:href="@{~/admin}" class="brand-link">
    <span class="brand-text font-weight-light text-center">Little Shop</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              商品管理
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="admin/products" th:href="@{~/admin/products}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>商品列表</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="admin/product/new" th:href="@{~/admin/product/new}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>添加商品</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              订单管理
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/order" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>订单列表</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tree"></i>
            <p>
              用户管理
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/user" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>用户列表</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/user/new" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>增加用户</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
