*{
  margin: 0 auto;
  padding: 0;
}

.mask{
  width: 700px;
  height: 600px;
  background: white url("223.jpg");
  -webkit-mask-image:url("mask00.png");
  animation: mask 5s linear infinite forwards;
}

@keyframes mask {
  0% {-webkit-mask-position: 0px 0px;}
  25% {-webkit-mask-position: 700px 0px;}
  50% {-webkit-mask-position: 0px 0px;}
  75% {-webkit-mask-position: 300px 0px;-webkit-mask-size:100%;}
  100%{-webkit-mask-size:1000%;}
}
